Repository brylie/music-with-brylie: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-docs

lefthook.yml:

# Pre-push hook: Run comprehensive CI checks before pushing
pre-push:
  parallel: false
  commands:
    format-check:
      tags: [formatting]
      run: |
        echo "ğŸ¨ Checking code formatting..."
        mise exec -- dprint check && mise exec -- ruff format --check src/ tests/

    lint:
      tags: [quality]
      run: |
        echo "ğŸ” Running linters..."
        mise exec -- ruff check src/ tests/

    typecheck:
      tags: [types]
      run: |
        echo "ğŸ“ Running type checks..."
        uv run mypy src/

    test:
      tags: [tests]
      run: |
        echo "ğŸ§ª Running tests with coverage..."
        uv run pytest tests/ --cov=utils --cov-report=term-missing --cov-fail-under=60

    summary:
      tags: [summary]
      run: |
        echo "âœ… All CI checks passed! Safe to push."

# Pre-commit hook: Quick formatting and linting on staged files
pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.py"
      run: mise exec -- ruff format {staged_files} && mise exec -- ruff check --fix {staged_files}
      stage_fixed: true

    format-docs:
      glob: "*.{md,yml,yaml,json}"
      run: mise exec -- dprint fmt {staged_files}
      stage_fixed: true

Configure coverage to exclude scene files from requirements
  pyproject.toml
Due: none

Fix pre-commit hook to allow no matching files
  lefthook.yml
Due: format-docs

Clean up temporary audio files after playback
  src/_2026/fundamentals/main.py
Due: format

Move audio cleanup to end of scene to preserve file during video encoding
  src/_2026/fundamentals/main.py
Due: format

Add amplitude clamping and suppress linter warning in placeholder class
  src/utils/audio_mobjects.py
Due: format

Prefix unused unpacked variables with underscores per Ruff RUF059
  tests/test_audio_mobjects.py
Due: format

Defer audio cleanup using atexit to preserve file during SceneFileWriter finalization
  src/_2026/fundamentals/main.py
Due: format

Add clean task and make it a dependency of render tasks
  mise.toml
Due: none
